<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>WebCalculatorApplication</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<a th:href="@{/}" style="text-decoration: none;">
    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button"
            role="tab" aria-controls="profile" aria-selected="false">На главную
    </button>
</a>
<!--Таблица с историей операций-->
<div class="col">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Тип операции</th>
            <th>Результат операции</th>
            <th>Дата и время</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="result: ${allResults}">
            <td th:text="${result.getOperationName()}"></td>
            <td th:text="${result.getResult()}"></td>
            <td th:text="${result.getDate()}"></td>
        </tr>
        </tbody>
    </table>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>